'context-menu':
  'atom-text-editor': [
    {
      'label': 'Insert require'
      'command': 'insert-require:insert'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'insert-require'
      'submenu': [
        {
          'label': 'Insert require'
          'command': 'insert-require:insert'
        }
      ]
    ]
  }
]
